{{!< default}}


        <div class="container">
          
          {{#foreach posts}} 
          <div class="row">
            <div class="column">

              <article class="{{post_class}}">
                <h2 class="posts-header"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <p>{{excerpt characters="300"}}&hellip;</p>
                <footer>
                  <img src="{{asset "img/profile-image.jpg"}}" alt="Chris Sainty" />
                  <span>By Chris Sainty</span>
                  <span class="seperator">|</span>
                  Posted <span class="post-meta">
                              <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time>
                            </span> in {{tags separator=", "}}
                  <span class="seperator">|</span>
                  {{reading_time}}
                </footer>
              </article>

            </div>
          </div>
          {{/foreach}} 

          <div class="row">
            <div class="column">

              {{pagination}} 

            </div>
          </div> 

        </div> 
